body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(168, 165, 165);
    margin: 0;

}

.nav-buttons ul {
    list-style: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;

}

.nav-buttons button {
    border: none;
    background-color: transparent;

}

.nav-buttons img {
    width: 20px;

}

.menu {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 0.5rem;
}

.art-logo img {
    width: 75px;
    display: flex;
    align-items: center;

}

.nav-buttons .filter {
    width: 25px;
}

.nav-buttons .mag-button {
    width: 20px;
}

@media (max-width:768px) {


    .nav-768 {
        display: none
    }
}

@media (min-width:769px) {
    .nav-768 {
        display: flex;
        justify-content: space-evenly;
    }

    .nav-mobile {
        display: none
    }

}

.nav-768 {
    padding: .7rem;
    align-items: center;

}

.nav-768 ul {

    list-style: none;
    color: black;
    display: flex;


}

.nav-768 button {
    border: none;
    background-color: transparent;
    font-size: 1rem;

}

.nav-768 ul li {
    margin: 0 1.5rem;

}

.nav-buttons2 img {
    width: 15px
}

@media (min-width: 768px) and (max-width: 1024px) {

    .art-logo img {

        display: none
    }
}


main a {
    color: black;
    text-decoration: none;
}




.example-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.example-pics img {
    width: 260px;
}


.example-pics figcaption {
    text-align: center;
}